<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title></title>
   <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container" ng-controller="myController">
        <h1>Product Details</h1>
        <span>Enter Letter To Filter Names:-</span><input type="text" ng-model="letter">
  <table class="table">
    <thead>
      <tr>
        
        <th>Name</th>
        <th>ModelNO</th>
        <th>Color</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="product in productSer | startsWithLetter:letter" >
        
        <td>{{product.name}}</td>
        <td>{{product.modelNo}}</td>
        <td>{{product.color}}</td>
      </tr>
    </tbody>
  </table>
    <my-product-directive><!--  this is element directives -->
     </my-product-directive>
    </div>


 <script src="https://code.angularjs.org/1.6.4/angular.js" type="text/javascript"></script>
    <script src="controller/controller.js" type="text/javascript"></script>
    <script src="directive/directive.js" type="text/javascript"></script>
    <script src="filter/filter.js" type="text/javascript"></script>
    <script src="Service/service.js" type="text/javascript"></script>
</body>
</html>